/********************************************************** custom defaults */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000;
}

body {
  cursor: default;
  font-family: "Comfortaa", cursive, Arial, Helvetica, sans-serif;
}

a {
  list-style: none;
  text-decoration: none;
}

/********************************************************** nav bar */
.title-nav {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
  background-color: #ffff31;
  padding: 2rem;
  text-align: center;
  width: 100%;
  font-size: 1.5rem;
  font-weight: bolder;
}

/********************************************************** footer */
.footer-nav {
  background-color: #100c08;
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-nav a {
  text-align: center;
  font-size: 1rem;
}

.footer-nav a i,
.footer-nav a p {
  color: #fff;
}

.footer-nav a i:hover,
.footer-nav a p:hover {
  color: #ffff31;
}
